@font-face {
  font-family: 'mulish';
  src: url("../font/Mulish-Light.woff2") format("woff2"), url("../font/Mulish-Light.woff") format("woff"), url("../font/Mulish-Light.ttf") format("ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: 'mulish';
}

.form-border {
  width: 100%;
  height: 550px;
  border-radius: 5px !important;
}

.note-form {
  padding: 40px 65px;
}

.note-form .error {
  color: #e44e42;
  font-weight: bold;
  display: flex;
  flex-flow: row wrap;
}

.note-form .error i {
  margin-left: 10px;
}

.note-form .error span {
  margin: 1px 5px;
}

.note-form .done {
  color: green;
  font-weight: bold;
  display: flex;
  flex-flow: row wrap;
}

.note-form .done i {
  margin-left: 10px;
}

.note-form .done span {
  margin: 1px 5px;
}

.note-form label {
  color: #6d82a8;
  font-size: 14px;
  display: block;
  width: 200px;
  padding: 10px;
  font-weight: bold;
}

.note-form label input {
  border: 1px rgba(187, 150, 150, 0.671) solid !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  padding-left: 10px !important;
  width: 230px !important;
  height: 35px !important;
  margin-top: 5px !important;
  font-size: 14px !important;
  color: darkslategrey !important;
  background-color: ghostwhite !important;
}

.note-form label textarea {
  border: 1px rgba(187, 150, 150, 0.671) solid !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  padding-left: 10px !important;
  outline: none;
  min-width: 550px;
  min-height: 200px;
  max-width: 800px;
  max-height: 200px;
  margin-top: 5px !important;
  color: darkslategrey !important;
  background-color: ghostwhite !important;
}

.note-form .save-btn {
  position: absolute;
  right: 30px;
  bottom: 20px;
  width: 100px !important;
  font-weight: bold !important;
  border-radius: 5px !important;
  background-color: #6d82a8 !important;
}

.show-note {
  width: 100%;
  min-height: 100px;
  border-top: 2px solid #6d82a8;
  position: relative;
}

.show-note .no-notes {
  position: absolute;
  top: 45%;
  left: 35%;
  transform: scaleX(-50%) scaleY(-50%);
  color: rgba(137, 157, 177, 0.7);
  font-size: 25px;
  padding-bottom: 50px;
}

.show-note label {
  font-size: 24px;
  color: #96a5c0;
  background-color: white;
  position: relative;
  top: -25px;
  left: 60px;
  padding: 8px;
}

.show-note .note-box {
  position: relative;
  left: 10%;
  right: 10%;
  width: 80%;
  margin-bottom: 50px;
  border-radius: 5px !important;
  padding: 1px 12px;
  background-color: ghostwhite !important;
  color: #899db1;
}

.show-note .note-box ul li {
  padding: 10px;
}

.show-note .note-box ul .text {
  color: #627b94;
}

.show-note .note-box #date-time {
  font-size: 13px;
  margin: -10px -15px;
  color: #565f70;
  opacity: .8;
  font-weight: bold;
}

.show-note .note-box .delete-note {
  color: #565f70;
  opacity: .6;
  transition: all 0.5s ease;
  cursor: pointer;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.show-note .note-box .delete-note:hover {
  opacity: 1;
}

.show-note .note-box .delete-note i {
  font-size: 20px;
}

.fade {
  opacity: 0;
  transition: 0.4s linear;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */