@font-face {
    font-family: 'mulish';
    src: url("../font/Mulish-Light.woff2") format("woff2"), url("../font/Mulish-Light.woff") format("woff"), url("../font/Mulish-Light.ttf") format("ttf");
  }

body{
    margin: 0;
    padding: 0;
    font-family: 'mulish';
}

.form-border{
    width: 100%;
    height: 550px;
    border-radius: 5px !important;
}

.note-form{
    padding: 40px 65px;

    .error{
        color: #e44e42;
        font-weight: bold;
        display: flex;
        flex-flow: row wrap;

        i{
            margin-left: 10px;
        }

        span{
            margin: 1px 5px;
        }
    }

    .done{
        color: green;
        font-weight: bold;
        display: flex;
        flex-flow: row wrap;

        i{
            margin-left: 10px;
        }

        span{
            margin: 1px 5px;
        }
    }

    label{
        color: rgb(109, 130, 168);
        font-size: 14px;
        display: block;
        width: 200px;
        padding: 10px;
        font-weight: bold;

        input{
            border: 1px rgba(187, 150, 150, 0.671) solid !important;
            box-shadow: none !important;
            border-radius: 5px !important;
            padding-left: 10px !important;
            width: 230px !important;
            height: 35px !important;
            margin-top: 5px !important;
            font-size: 14px !important;
            color: darkslategrey !important;
            background-color: ghostwhite !important;
        }
    
        textarea{
            border: 1px rgba(187, 150, 150, 0.671) solid !important;
            box-shadow: none !important;
            border-radius: 5px !important;
            padding-left: 10px !important;
            outline: none;
            min-width: 550px;
            min-height: 200px;
            max-width: 800px;
            max-height: 200px;
            margin-top: 5px !important;
            color: darkslategrey !important;
            background-color: ghostwhite !important;
        }
    }

    .save-btn{
        position: absolute;
        right: 30px;
        bottom: 20px;
        width: 100px !important;
        font-weight: bold !important;
        border-radius: 5px !important;
        background-color: rgb(109, 130, 168) !important;
    }

}

.show-note{
    width: 100%;
    min-height: 100px;
    border-top: 2px solid rgb(109, 130, 168);
    position: relative;

    .no-notes{
        position: absolute;
        top: 45%;
        left: 35%;
        transform: scaleX(-50%) scaleY(-50%);
        color: rgba(137, 157, 177, 0.7);
        font-size: 25px;
        padding-bottom: 50px;
    }
   
    label{
        font-size: 24px;
        color: rgb(150, 165, 192);
        background-color: white;
        position: relative;
        top: -25px;
        left: 60px;
        padding: 8px;
    }

    .note-box{
        position: relative;
        left:10%;
        right: 10%;
        width: 80%;
        margin-bottom: 50px;
        border-radius: 5px !important;
        padding: 1px 12px;
        background-color: ghostwhite !important;
        color: rgb(137, 157, 177);
        
        ul{
            li{
                padding: 10px;
            }
            .text{
                color: rgb(98, 123, 148);
            }
        }

        #date-time{
            font-size: 13px;
            margin: -10px -15px;
            color: rgb(86, 95, 112);
            opacity: .8;
            font-weight: bold;
        }
        
        .delete-note{
            color: rgb(86, 95, 112);
            opacity: .6;
            transition: all 0.5s ease;
            cursor: pointer;
            position: absolute;
            right: 0px;
            bottom: 0px;

            &:hover{
                opacity: 1;
            }

            i{
                font-size: 20px;
            }
        }
    }
}

.fade {
    opacity: 0;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
}
  

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}
